<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <aside class="left-off-canvas-menu">
  <ul class="off-canvas-nav">
    <li><label>Foundation</label></li>
    <li><a href="#">The Psychohistorians</a></li>
    <li><a href="#">The Encyclopedists</a></li>
    <li><a href="#">The Mayors</a></li>
    <li><a href="#">The Traders</a></li>
    <li><a href="#">The Merchant Princes</a></li>
    <li><label>Foundation and Empire</label></li>
    <li><a href="#">The General</a></li>
    <li><a href="#">The Mule</a></li>
    <li><label>Second Foundation</label></li>
    <li><a href="#">Search by the Mule</a></li>
    <li><a href="#">Search by the Foundation</a></li>
  </ul>
</aside>

        <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>
</nav>


<nav class="top-bar hide-for-small">
  <ul class="title-area">
    <li class="name">
      <h1><a href="../../index.html">Foundation</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <a href="#" class="">Learn</a>
        <ul class="dropdown">
          <li><a href="../../learn/getting-started.html">Getting Started</a></li>
          <li><a href="../../learn/features.html">Features</a></li>
          <li><a href="../../learn/faq.html">FAQ</a></li>
          <li><a href="../../learn/case-jacquelinewest.html">Case Studies</a></li>
          <li><a href="../../learn/website-examples.html">Website Examples</a></li>
          <li><a href="../../learn/video-started-with-foundation.html">Videos</a></li>
          <li><a href="../../learn/training.html">Training</a></li>
          <li><a href="../../learn/about.html">About</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="">Develop</a>
        <ul class="dropdown">
          <li><a href="../addons-templates.html">Add-ons</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="../download.html">Download</a></li>
          <li><a href="../contribute.html">Contribute</a></li>
          <li><a href="../tools.html">Tools</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="">Support</a>
        <ul class="dropdown">
          <li><a href="../../../../../../../forum">Forum</a></li>
          <li><a href="../../support/support.html">Email Support</a></li>
          <li><a href="../../support/support.html">Twitter</a></li>
          <li><a href="../../support/support.html">GitHub Issues</a></li>
          <li><a href="../../support/support.html">StackOverflow</a></li>
          <li><a href="../../support/images-and-badges.html">Images &amp; Badges</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#" class="">Business</a>
        <ul class="dropdown">
          <li><a href="../../business/services.html">Services</a></li>
          <li><a href="../../business/consulting.html">Consulting</a></li>
          <li><a href="../../business/corporate-training.html">Corporate Training</a></li>
          <li><a href="../../business/corporate-support.html">Corporate Support</a></li>
          <li><a href="../../business/prototype-hosting.html">Prototype Hosting</a></li>
        </ul>
      </li>
      <li class="">
        <a href="/docs" class="">Docs</a>
      </li>
      <li class="">
        <a href="../../getting-started.html" class="small button">Getting Started</a>
      </li>
    </ul>
  </section>
</nav>

        <!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation | Store</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="row">
    <div class="large-12 columns">

    <!-- Navigation -->

      <div class="row">
        <div class="large-12 columns">

          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <a href="#">
                    Top Bar Title
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Main Item 1</a>
                  <ul class="dropdown">
                    <li><label>Section Name</label></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Has Dropdown, Level 1</a>
                      <ul class="dropdown">
                        <li><a href="#">Dropdown Options</a></li>
                        <li><a href="#">Dropdown Options</a></li>
                        <li><a href="#">Level 2</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><label>Section Name</label></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all &rarr;</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Main Item 2</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Main Item 3</a>
                  <ul class="dropdown">
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all &rarr;</a></li>
                  </ul>
                </li>
              </ul>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>

    <!-- End Navigation -->

      <div class="row">

  <!-- Side Bar -->

        <div class="large-4 columns">

          <img src="http://placehold.it/500x500&text=Logo">

          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>

          <a href="#">
          <div class="panel callout radius">
            <h6>99&nbsp; items in your cart</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="large-8 columns">
          <div class="row">

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
          </div>

    <!-- End Thumbnails -->


    <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>

                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>

    <!-- End Managed By -->

          </div>
        </div>
      </div>


    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">

            <div class="large-6 columns">
              <p>&copy; Copyright no one at all. Go to town.</p>
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>

          </div>
        </div>
      </footer>

    <!-- End Footer -->

    </div>
  </div>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <!-- End Footer -->

</body>
</html>


        <div id="newsletter">
  <div class="row">

    <div class="large-8 columns">
      <h5>Stay on top of what's happening in responsive design.</h5>
      <p>Sign up to receive monthly <a href="http://www.zurb.com/responsive/reading">Responsive Reading</a> highlights. <a href="http://www.zurb.com/responsive/reading/2012/10">Read Last Month's Edition »</a></p>
    </div>

  <div class="large-4 columns">
    <form method="post">
      <div class="row collapse margintop-20px">
        <div class="small-8 columns">
          <input type="text" name="email" placeholder="signup@example.com">
        </div>
        <div class="small-4 columns">
          <input type="submit" href="#" class="postfix small button expand" value="Sign Up">
        </div>
      </div>
    </form>
  </div>


  </div>
</div>

<div class="zurb-footer-top bg-fblue">
  <div class="row property">
    <div class="large-4 columns">
      <div class="property-info">
        <h3>Foundation</h3>
        <p>Foundation is made by <strong><a href="http://zurb.com">ZURB</a></strong>, a product design company in Campbell, California. We've put more than 15 years of experience building web products, services and websites into this framework.
        </p>
      </div>
    </div>

    <div class="large-8 columns">
      <div class="row collapse">
        <div class="large-4 columns">
          <div class="learn-links">
            <h4 class="hide-for-small">Want More?</h4>
            <ul>
              <li><a href="/studios/our-work">Our Work</a></li>
              <li><a href="/studios/working-together">Working Together</a></li>
              <li><a href="/studios/who-we-are">Who We Are</a></li>
              <li><a href="/studios/contact">Contact</a></li>
            </ul>
          </div>
      </div>
        <div class="large-4 columns">
          <div class="support-links">
              <h4 class="hide-for-small">Talk to us</h4>
              <p>Call us at <strong>(408) 341-0600</strong></p>
              <p>Not a big talker? Email us at <a href="/studios/contact">getstarted@zurb.com</a></p>
          </div>
        </div>
      <div class="large-4 columns">
          <div class="connect-links">
            <h4 class="hide-for-small">Stay in touch</h4>
            <p>Get monthly updates from ZURB in your inbox. Read our <a href="http://zurb.com/news">latest news &amp; buzz.</a></p>
            <a href="/newsletter/sign_up" class="small button">Get ZURBnews!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row global">
    <div class="large-3 small-6 columns">
      <a href="http://zurb.com/studios" class="footer-link-block services">
        <span class="title">Studios</span>
        <span>Helping more than 200 startups succeed since 1998.</span>
      </a>
    </div>
    <div class="large-3 small-6 columns">
      <a href="http://foundation.zurb.com/" class="footer-link-block foundation">
        <span class="title">Foundation</span>
        <span>The most advanced front-end framework in the world.</span>
      </a>
    </div>
    <div class="large-3 small-6 columns">
      <a href="http://zurb.com/apps" class="footer-link-block apps">
        <span class="title">Products</span>
        <span>Prototype, iterate and collect feedback on your products.</span>
      </a>
    </div>
    <div class="large-3 small-6 columns">
      <a href="http://zurb.com/university" class="footer-link-block expo">
        <span class="title">University</span>
        <span>Ideas, thoughts and design resources shared with you.</span>
      </a>
    </div>
  </div>
</div>

<div class="zurb-footer-bottom">
  <div class="row">
    <div class="large-4 medium-4 push-8 columns">
      <ul class="home-social">
          <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
          <li><a href="/contact" class="mail"></a></li>
        </ul>
     </div>
     <div class="large-8 medium-8 pull-4 columns">
        <a href="http://www.zurb.com" class="zurb-logo regular"></a>
        <ul class="zurb-links">
          <li><a href="http://zurb.com/about">About</a></li>
          <li><a href="http://zurb.com/blog">Blog</a></li>
          <li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
          <li><a href="http://zurb.com/contact">Contact</a></li>
          <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
       </ul>
       <p class="copyright">© 1998–2013 ZURB, Inc. All rights reserved.</p>
    </div>
  </div>
</div>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <script src="../../assets/js/marketing.js"></script>
    <script>
      $(document).foundation();
    </script>
    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>
